body {
    background-color: #595959;
    margin: 0;
}

#clock {
    color: white;
    font-size: 11em;
    display: flex;
    justify-content: center;
    width: 40%;
    margin-left: 30%;
    margin-top: 3%;
}

.vær {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 2.3em;
    width: 30%;
    margin-left: 35%;
}

.nesteTime {
    text-align: center;
    color: white;
    width: 40%;
    margin-left: 30%;
    height: fit-content;
}

.nesteTime p {
    margin: 0;
    font-size: 3em;
    font-weight: bold;
}

#loading-bar-container{
    display: flex;
    position:relative;
    transform: translate(50%, 0);
    width: 50%; 
    height: 20px; 
    background-color: #000000;
    border-radius: 10px;
    overflow: hidden;

    

}

#loading-bar{
    width: 1%;
    height: 100%;
    background-color:#00ff2a;
}

button {
    color: white;
}

.Bottom{
    width: 50px;
    height: 20px;
    border: 3px solid green;
}

